<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Servlet Area-->
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseIntroduction</servlet-name>
        <servlet-class>servlet.database.DatabaseIntroduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIntroduction</servlet-name>
        <servlet-class>servlet.servlets.ServletIntroduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LifeCycle</servlet-name>
        <servlet-class>servlet.servlets.LifeCycle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceGetPost</servlet-name>
        <servlet-class>servlet.servlets.ServiceGetPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericServlet</servlet-name>
        <servlet-class>servlet.servlets.GenericServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseImportance</servlet-name>
        <servlet-class>servlet.database.DatabaseImportance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseTypes</servlet-name>
        <servlet-class>servlet.database.DatabaseTypes</servlet-class>
    </servlet>
    <!--Chamaa Island-->
    <servlet>
        <servlet-name>CloudComputingIntroduction</servlet-name>
        <servlet-class>servlet.cloudcomputing.CloudComputingIntroduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WhyUseCloudComputing</servlet-name>
        <servlet-class>servlet.cloudcomputing.WhyUseCloudComputing</servlet-class>
    </servlet>
    <!--Aluth tika-->
    <servlet>
        <servlet-name>UsesOfCloudComputing</servlet-name>
        <servlet-class>servlet.cloudcomputing.UsesOfCloudComputing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProssAndCons</servlet-name>
        <servlet-class>servlet.cloudcomputing.ProssAndCons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloudComputingArchitecture</servlet-name>
        <servlet-class>servlet.cloudcomputing.CloudComputingArchitecture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloudComputingTechnologies</servlet-name>
        <servlet-class>servlet.cloudcomputing.CloudComputingTechnologies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationsOfCloudComputing</servlet-name>
        <servlet-class>servlet.cloudcomputing.ApplicationsOfCloudComputing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloudComputingRisk</servlet-name>
        <servlet-class>servlet.cloudcomputing.CloudComputingRisk</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloudComputingTypes</servlet-name>
        <servlet-class>servlet.cloudcomputing.CloudComputingTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloudServiceModel</servlet-name>
        <servlet-class>servlet.cloudcomputing.CloudServiceModel</servlet-class>
    </servlet>
    <!--Servlet Mapping Area-->
    <servlet>
        <servlet-name>MySQL</servlet-name>
        <servlet-class>servlet.database.MySQL</servlet-class>
    </servlet>
    
    <!-- WebHosting Servlet-->
    <servlet>
        <servlet-name>WebHostingIntroduction</servlet-name>
        <servlet-class>servlet.webhosting.WebHostingIntroduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypesOfWebHosting</servlet-name>
        <servlet-class>servlet.webhosting.TypesOfWebHosting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebHostingServices</servlet-name>
        <servlet-class>servlet.webhosting.WebHostingServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebHostingCompany</servlet-name>
        <servlet-class>servlet.webhosting.WebHostingCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HostingQuality</servlet-name>
        <servlet-class>servlet.webhosting.HostingQuality</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebHostPricing</servlet-name>
        <servlet-class>servlet.webhosting.WebHostPricing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebAndDomainHosting</servlet-name>
        <servlet-class>servlet.webhosting.WebAndDomainHosting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ByeADomainName</servlet-name>
        <servlet-class>servlet.webhosting.ByeADomainName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DNS</servlet-name>
        <servlet-class>servlet.webhosting.DNS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PickWebHost</servlet-name>
        <servlet-class>servlet.webhosting.PickWebHost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayForWebHosting</servlet-name>
        <servlet-class>servlet.webhosting.PayForWebHosting</servlet-class>
    </servlet>
    
    <!--   -->
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseIntroduction</servlet-name>
        <url-pattern>/database/introduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIntroduction</servlet-name>
        <url-pattern>/servlet/introduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LifeCycle</servlet-name>
        <url-pattern>/servlet/lifecycle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceGetPost</servlet-name>
        <url-pattern>/servlet/service-get-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericServlet</servlet-name>
        <url-pattern>/servlet/generic-servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseImportance</servlet-name>
        <url-pattern>/database/importance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseTypes</servlet-name>
        <url-pattern>/database/types-of-technologies</url-pattern>
    </servlet-mapping>
    <!--Chamaa Island-->
    <servlet-mapping>
        <servlet-name>CloudComputingIntroduction</servlet-name>
        <url-pattern>/cloudcomputing/introduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WhyUseCloudComputing</servlet-name>
        <url-pattern>/cloudcomputing/whyusecloudcomputing</url-pattern>
    </servlet-mapping>
    <!--Aluth tika-->
    <servlet-mapping>
        <servlet-name>UsesOfCloudComputing</servlet-name>
        <url-pattern>/cloudcomputing/usesofcloudcomputing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProssAndCons</servlet-name>
        <url-pattern>/cloudcomputing/prosandcons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloudComputingArchitecture</servlet-name>
        <url-pattern>/cloudcomputing/cloudcomputingarchitecture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloudComputingTechnologies</servlet-name>
        <url-pattern>/cloudcomputing/cloudcomputingtechnologies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationsOfCloudComputing</servlet-name>
        <url-pattern>/cloudcomputing/applicationsofcloudcomputing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloudComputingRisk</servlet-name>
        <url-pattern>/cloudcomputing/cloudcomputingrisk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloudComputingTypes</servlet-name>
        <url-pattern>/cloudcomputing/cloudcomputingtypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloudServiceModel</servlet-name>
        <url-pattern>/cloudcomputing/cloudservicemodel</url-pattern>
    </servlet-mapping>
    <!--Pissu Area eka-->
    <servlet-mapping>
        <servlet-name>MySQL</servlet-name>
        <url-pattern>/database/mysql</url-pattern>
    </servlet-mapping>
    
    <!--WebHosting Servlet Mapping-->
     <servlet-mapping>
        <servlet-name>WebHostingIntroduction</servlet-name>
        <url-pattern>/webhosting/introduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypesOfWebHosting</servlet-name>
        <url-pattern>/webhosting/Types-of-web-hosting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebHostingServices</servlet-name>
        <url-pattern>/webhosting/Best-web-hosting-services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebHostingCompany</servlet-name>
        <url-pattern>/webhosting/Web-hosting-company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HostingQuality</servlet-name>
        <url-pattern>/webhosting/Hosting-quality</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebHostPricing</servlet-name>
        <url-pattern>/webhosting/Web-hosting-pricing-and-value</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebAndDomainHosting</servlet-name>
        <url-pattern>/webhosting/Web-hosting-and-domain-hosting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ByeADomainName</servlet-name>
        <url-pattern>/webhosting/bye-a-domain-name</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DNS</servlet-name>
        <url-pattern>/webhosting/DNS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PickWebHost</servlet-name>
        <url-pattern>/webhosting/Pick-web-host</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayForWebHosting</servlet-name>
        <url-pattern>/webhosting/Pay-for-web-hosting</url-pattern>
    </servlet-mapping>
    <!--  -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
